body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}
.menu-container, .game-container {
    background: #fff;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: none;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
#level-buttons {
    max-height: 70vh;
    overflow-y: auto;
}
.active {
    display: block;
}
h1 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}
p {
    color: #555;
    font-size: 16px;
}
input[type="number"], input[type="password"], input[type="text"] {
    width: 90%;
    max-width: 250px;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
input[type="number"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    border-color: #007bff;
}
button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background 0.3s;
    width: 90%;
    max-width: 250px;
}
button:hover {
    background: #0056b3;
}
.current-level {
    background: #28a745;
    color: white;
}
.result, .last-guess, .level-info, .guess-info, .time-info {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}
.result.correct {
    color: green;
}
.result.wrong {
    color: red;
}
.game-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.game-footer a {
    color: #007bff;
    text-decoration: none;
}
.game-footer a:hover {
    text-decoration: underline;
}
.level-button[disabled] {
    background: #aaa;
    cursor: not-allowed;
}
.admin-controls {
    display: none;
    margin-top: 15px;
}
.admin-controls.active {
    display: block;
}
.admin-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
}
.level-menu-button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background 0.3s;
    width: 90%;
    max-width: 250px;
}
.level-menu-button:hover {
    background: #0056b3;
}
